* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    text-align: center;
}

footer {
    padding-top: 2rem;
}

.container {
    margin: auto;
    padding: 16px;
}

h1, 
h2,
h3, 
h4 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
    padding-top: 2rem;
}

h2 {
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}

h3,
h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div {
    padding-top: 1rem;
}

img {
    width: 6vw;
}

#copyright {
    font-size: 0.8rem;
    font-style: italic;
    padding-top: 0.6rem;
}

/************* Mobile first media queries *****************/

/*** Larger than mobile ***/
@media (min-width: 400px) {
    .container {
        max-width: 95vw;
    }
    
}

/*** Larger than tablet ***/
@media (min-width: 750px) {
    .container {
        max-width: 90vw;
    }
}

/*** Larger than desktop ***/
@media (min-width: 1000px) {
    .container {
        max-width: 900px;
    }
}